# Basics in Learning

### SYNTAX:- RULES FOR WRITING PROGRAMMING LANGUAGE
### Use Jupyter Notebook to either write python code or write notes
### For notes, you will use simple comments with # in front or markdown language
### for converting a cell into markdown notes cell, type command ESC + m
### https://www.markdownguide.org/cheat-sheet/
### Command + Enter in MacOS, Shift + Enter

In [ ]:
# single cell

In [4]:
# You don't need to understand this python code right now, but you need to understand the power of programming language.

names_of_students = ["velavan", "rajiv", "suyog", "pramod", "jagrat", "avinash", "sahage", "amit"]

for specific_name in names_of_students:
    if len(specific_name) > 5:
        print('Length of this name is GREATER than 5 ', specific_name)
    else:
        print('Length of this name is LESSER than or EQUAL to 5 ', specific_name)

Length of this name is GREATER than 5  velavan
Length of this name is LESSER than or EQUAL to 5  rajiv
Length of this name is LESSER than or EQUAL to 5  suyog
Length of this name is GREATER than 5  pramod
Length of this name is GREATER than 5  jagrat
Length of this name is GREATER than 5  avinash
Length of this name is GREATER than 5  sahage
Length of this name is LESSER than or EQUAL to 5  amit
The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

In [7]:
# Variables in Python

x = "mango"

name = "Mohit"


maggi_price = 10

gst_price = 1.8



# Variable is a name that refers to a value stored in memory
# x, name, maggi_price, gst_price are variables
# "mango", "Mohit", 10, 1.8 are the values

# Rules of choosing a variable name
1. Must start with a letter or underscore
2. case sensitive (name and Name are different variables)

In [8]:
2x = "mango"

SyntaxError: invalid syntax (4269404949.py, line 1)

In [10]:
r2x = "mango"
print(r2x)

mango

In [11]:
_2x = "mango"

print(_2x)

mango

In [12]:
name = "velavan"

Name = "amit"

In [13]:
print(name)

velavan

In [14]:
print(Name)

amit

In [ ]:
# Basic Data Types in Python
# What is a Data Type?
# Structure where you can store different types of stuff based on the structure.
# Data Store

1. Grain Store
2. Milk Store

Q1) If I have to store rice, which type of store will I chose? 
Grain

Q2) If I have to store cold drinks, which type of store will I chose?
Milk

In [15]:
#1 Integer

# Numbers without decimal part.

x = 34
y = 28

# x and y are pointing to integers

In [16]:
#2 Float

# Numbers with decimal part

x = 34.45
y = 23.12

# x and y are pointing to float values

In [17]:
#3 String

# Collection of Characters
# human language words, sentences, etc are strings.

x = "Rajiv"

y = "Kapoor"

z = "I live in Bangalore and I like the weather here"

# x, y, and z are pointing to Strings.

In [ ]:
#4 List

# Collection of other basic data types

x = ["Rajiv", 34.45, 100]

# x is pointing to a list.

In [ ]:
# Dictionary, Tuple, and Set we will take after some time.

In [ ]:
# Operators in Python

1. Arithmetic Operators
+, -, *, /, %(Modulus), // (floor division), **(exponentiation) 


2. Assignment Operators
=, +=, -=, *=, /=

3. Comparison Operators
== (equal to) 
!= (not equal to)
>  (greater than)
<
>= (greater than equal to)
<=

4. Logical Operators
AND, OR, NOT

5. Membership Operators
in, not in

6. Identity Operators
is , is not

In [26]:
x = 4+5
y = 5-1
z = 2*4
a = 10/5
b = 11/5
c = 2**4


print('x', x)
print('y', y)
print('z', z)
print('a', a)
print('b', b)
print('c', c)

x 9
y 4
z 8
a 2.0
b 2.2
c 16

In [25]:
# // (floor division)

a = 10//5
print('a', a)

b = 11//5
print('b', b)

a 2
b 2

In [27]:
# %(Modulus)

b = 11%5

# what is the remainder of this operaton?
print('b', b)

b 1

In [29]:
# Few Arithmetic operators are applied on other than numbers also like as follows:-

x = "Rajiv" + " Kapoor"
print(x)

Rajiv Kapoor

In [30]:
# 2. Assignment Operators
# =, +=, -=, *=, /=

x = 34
print(x)

34

In [31]:
a = 2
a += 1

# short form for a = a + 1

print(a)

3

In [32]:
a = 2
a -= 1

# short form for a = a - 1

print(a)

1

In [ ]:
 # comparison operators is to compare

In [33]:
"Rajiv" == "Rajiv"

True

In [34]:
"rajiv" == "Rajiv"

False

In [35]:
4 == 5

False

In [36]:
"rajiv" != "Rajiv"

True

In [37]:
4 != 5

True

In [38]:
4 < 5

True

In [39]:
4 > 5

False

In [40]:
5 <= 5

True

In [41]:
5 >= 5

True

In [42]:
6 >= 5

True

In [43]:
4 <= 5

True

In [ ]:
4. Logical Operators
AND True when both statements are true otherwise false
OR True even when 1 of them is true
NOT to make the logic reverse or opposite

In [46]:
not 6 > 5

False

In [47]:
1 > 10 and 2 < 11

False

In [48]:
11 > 10 and 2 < 11

True

In [49]:
1 > 10 or 2 < 11

True

In [ ]:
5. Membership Operators
in, not in

In [50]:
list_of_stuff = ["Rajiv", "Kapoor", 34, 100]

34 in list_of_stuff

True

In [51]:
34.34 in list_of_stuff

False

In [52]:
34.34 not in list_of_stuff

True

In [53]:
"Rajiv" in list_of_stuff

True

In [54]:
"a" in "Rajiv"

True

In [58]:
name = input("Write your name")

age = input('Your age')

print('My name is', name, "and my age is ", age)

Write your name Shashank
Your age 35

My name is Shashank and my age is  35

In [59]:
name = input("Write your name")

age = input('Your age')

print('My name is', name, "and my age is ", age)

Write your name Victory
Your age 100

My name is Victory and my age is  100